---
import "/styles/global.css";
const { title } = Astro.props;
import QrCard from "../components/QrCard.astro";
---
<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/images/favicon-32x32.png" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
        <title>{title}</title>
    </head>
    <body class="bg-qr-bg font-outfit antialiased">
        <slot />
    </body>
</html>